<div class="container mb-5 m-0 p-0">
  <div id="map" class="vh-100" style="width: 98.9vw !important"></div>
  <div id="description" class="position-absolute bottom-0 bg-light-subtle p-3">
    <h1>Pangea</h1>
    <p>
      Pangaea was the global supercontinent which formed in the
      <a href="https://en.wikipedia.org/wiki/Paleozoic">Palaeozoic era</a>. The
      process started about 450 million years ago and was complete by 210
      million years ago.
    </p>
    <p><a href="https://en.wikipedia.org/wiki/Pangaea">Learn more on Wikipedia.</a></p>
  </div>
</div>
<script src="/libs/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>