<div class="container mx-auto mb-5 m-0 p-0">
  <h1>Explore
    <span id="count-placeholder" class="placeholder-glow">
      <span class="placeholder col-1"></span>
    </span>
    <span id="count"></span>
    fediverse accounts
  </h1>
  <p class="lead">
    Made with
    <a href="https://tabulator.info/" target="_blank">Tabulator</a>
    and
    <a href="https://w.wiki/8Xr7" target="_blank">wikidata.org</a>.
  </p>
  <div class="btn-group mt-4" role="group">
    <button id="download-csv" type="button" class="btn btn-outline-secondary">
      Download CSV</button>
    <button id="download-json" type="button" class="btn btn-outline-secondary">
      Download JSON</button>
    <button id="download-xlsx" type="button" class="btn btn-outline-secondary">
      Download XLSX</button>
    <button id="download-pdf" type="button" class="btn btn-outline-secondary">
      Download PDF</button>
    <button id="download-html" type="button" class="btn btn-outline-secondary">
      Download HTML</button>
  </div>
  <div id="placeholder-table" class="mt-5">
    <table class="table table-striped">
      <thead>
        <tr>
          {{#times 4}}
          <th scope="col">
            <span class="placeholder-glow">
              <span class="placeholder col-4"></span>
            </span>
          </th>
          {{/times}}
      </thead>
      <tbody>
          {{#times 4}}
            <tr>
              <th scope="row">
                <span class="placeholder-glow">
                  <span class="placeholder col-4"></span>
                </span>
              </th>
            {{#times 3}}
              <td>
                <span class="placeholder-glow">
                  <span class="placeholder col-4"></span>
                </span>

              </td>
            {{/times}}
            </tr>
          {{/times}}
      </tbody>
    </table>
  </div>
  <div id="data" class="mt-4"></div>
</div>
{{! <script src="/libs/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script> }}
<script src="/libs/tabulator/v5.5/js/tabulator.min.js"></script>