body {
  background-color: #f7f7f7;
  color: #fffffe; }

h1, .lead {
  color: #232946; }

img.pizza-slice-img {
  display: block;
  width: 100%;
  max-width: 200px;
  border: solid white 10px;
  border-bottom: solid white 40px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
          transform: rotate(-1deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  position: relative;
  z-index: 10; }
  @media (min-width: 768px) {
    img.pizza-slice-img {
      max-width: 220px; } }
  img.pizza-slice-img:hover {
    -webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2); }

img.rating {
  vertical-align: baseline; }

#row-intro {
  background-color: rgba(255, 255, 255, 0.65); }

#map-wrapper {
  height: 100px;
  max-height: 30vh;
  z-index: -10; }
  @media (min-width: 768px) {
    #map-wrapper {
      max-height: 50vh; } }
  #map-wrapper #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; }

.card {
  color: #232946;
  background-color: #b8c1ec; }

.btn {
  background-color: #121629;
  color: #fffffe; }
  .btn:hover {
    background-color: #232946;
    color: #fffffe; }

@media (max-width: 767px) {
  .step {
    margin-bottom: 80vh; } }

.bg-light {
  background-color: #b8c1ec !important;
  color: #121629; }
  .bg-light a {
    color: #121629; }
    .bg-light a:hover {
      color: #232946 !important; }

.border-bottom {
  border-bottom-color: #b8c1ec !important; }

.active-step img.pizza-slice-img {
  -webkit-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
          transform: rotate(2deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }

.step-next {
  position: absolute;
  bottom: 3rem; }
  @media (max-width: 992px) {
    .step-next {
      display: none; } }

@media (max-width: 767px) {
  .step.min-vh-100 {
    min-height: 100px !important; } }
