<div class="container mb-5">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="mt-5 mb-4">Finding a path to a sustainable, net zero future</h1>
      <p class="mt-5 mb-5">
        So, the <mark>bad news</mark>: The planet is burning.
      </p>

      <div class="row mt-4 mb-4" data-masonry='{"percentPosition": true }' >
        <div class="col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img src="sustainable-communities/images/news/wildfires.jpeg" class="float-start" title="..." width="120" height="120">
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="fw-bold"><a href="https://www.msn.com/en-us/weather/topstories/how-climate-change-can-lead-to-more-lightning-strikes-wildfires/ar-AAOZJ9t" target="_blank" class="text-dark stretched-link">How climate change can lead to more lightning strikes, wildfires</a></p>
                  <p class="text-muted">As climate change intensifies, more lightning strikes in the western U.S. should lead to even more wildfires. UC Berkeley ...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img src="sustainable-communities/images/news/google-maps.jpeg" title="..." width="120" height="120">
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="fw-bold"><a href="https://arstechnica.com/gadgets/2021/09/google-maps-tracks-global-warming-with-new-fire-layer-tree-canopy-tool/" target="_blank" class="text-dark stretched-link">Google Maps tracks global warming with new “Fire” layer, tree canopy tool</a></p>
                  <p class="text-muted">"Fire" will be a top-level layer just like traffic, satellite, and transit maps.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img src="sustainable-communities/images/news/burn-scars.jpeg" title="..." width="120" height="120">
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="fw-bold"><a href="https://www.latimes.com/environment/story/2021-09-27/burn-scars-of-wildfires-threaten-drinking-water-across-much-of-the-west" target="_blank" class="text-dark stretched-link">Wildfires threaten drinking water in California and the West</a></p>
                  <p class="text-muted">'Burn scars' of wildfires threaten drinking water in much of ... a way of life in the West, including California, as climate change and...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img src="sustainable-communities/images/news/biden-climate-crisis.jpeg" title="..." width="120" height="120">
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="fw-bold"><a href="https://www.theguardian.com/us-news/2021/sep/13/california-wildfires-biden-trip-climate-crisis-links-extreme-weather" target="_blank" class="text-dark stretched-link">‘It’s a reality’: [US President] Biden calls for urgency in California as climate crisis fuels wildfires</a></p>
                  <p class="text-muted">President calls year-round fires an emergency country can no longer ignore as he advocates for rebuilding plan</p>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--
        <div class="col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img src="sustainable-communities/images/news/THUMBNAIL.jpeg" title="..." width="120" height="120">
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="fw-bold"><a href="URL" target="_blank" class="text-dark stretched-link">TITLE</a></p>
                  <p class="text-muted">DESCRIPTION</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      -->
    </div>

    <p class="mt-5 mb-5">
      <em>And</em> flooding.
    </p>


    <div class="row mt-4 mb-4" data-masonry='{"percentPosition": true }' >
      <div class="col-sm-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="sustainable-communities/images/news/ida-flooding.jpeg" title="..." width="120" height="120">
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="fw-bold"><a href="https://www.nytimes.com/live/2021/09/02/nyregion/nyc-storm" target="_blank" class="text-dark stretched-link">Flooding From [Huricane] Ida Kills Dozens of People in Four States</a></p>
                <p class="text-muted">At least 43 people were killed, many of them in basement apartments, in a storm caused by the remnants of a hurricane ...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="sustainable-communities/images/news/record-rain.jpeg" title="..." width="120" height="120">
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="fw-bold"><a href="https://www.bloomberg.com/news/articles/2021-08-22/henri-dumped-record-amount-of-rain-on-new-york-s-central-park" target="_blank" class="text-dark stretched-link">[Huricane] Henri Dumped Record Amount of Rain on New York’s Central Park</a></p>
                <p class="text-muted">Manhattan has never had a wetter hour, at least since Ulysses S. Grant was president.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="sustainable-communities/images/news/46-dead.jpeg" title="..." width="120" height="120">
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="fw-bold"><a href="https://www.telegraph.co.uk/world-news/2021/09/02/hurricane-ida-northeastern-us-battered-rain-flooding-tornadoes/" target="_blank" class="text-dark stretched-link">Hurricane Ida: At least 46 dead in the US after drowning in their homes and cars</a></p>
                <p class="text-muted">The governors of New York and New Jersey declared a State of Emergency as flash-flooding batters the north-east in 'historic weather event'.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="sustainable-communities/images/news/rice-agriculture-climate-change.jpeg" title="..." width="120" height="120">
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="fw-bold"><a href="https://www.sciencenews.org/article/rice-agriculture-feeds-world-climate-change-drought-flood-risk" target="_blank" class="text-dark stretched-link">Rice feeds half the world. Climate change’s droughts and floods put it at risk</a></p>
                <p class="text-muted">Under a midday summer sun in California's Sacramento Valley, rice farmer Peter Rystrom walks across a dusty, barren plot of land, ...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="mt-5 mb-5">
      Overall, it's just not looking great. But <mark>do not despair</mark>! There is a lot we can do — and that people are already doing!
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 sticky-top">
    <div id="chart-wrapper" class="opacity opacity-0 sticky-top bg-white p-3 mt-3 mb-3">
      <canvas id="chart" aria-label="Dataset name" role="img"></canvas>
      <p id="description" class="mb-1 pt-4 fs-6"><span class="d-inline d-md-none">Continue scrolling to explore the data.</span></p>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="step min-vh-100" data-step="0">
      <h2>Car sales are down, globally</h2>
      <p>
        According to the <a href="https://www.iea.org/data-and-statistics/charts/global-car-sales-by-key-markets-2005-2020">International Energy Agency</a>, the global car sales have been flattening in key markets even before COVID-19.
      </p>
      <p>
        If this trend holds, this is a big deal, particularly as the sales of electric vehicles is going up.
      </p>
    {{!--
      <p class="text-muted">Source: <a href="https://www.iea.org/data-and-statistics/charts/global-car-sales-by-key-markets-2005-2020">International Energy Agency</a></p>
      --}}
    </div>
    <div class="step min-vh-100" data-step="1">
      <h2>People are moving away from meat</h2>
      <p>According to <a href="https://www.reportbuyer.com/product/4959853/top-trends-in-prepared-foods-2017-exploring-trends-in-meat-fish-and-seafood-pasta-noodles-and-rice-prepared-meals-savory-deli-food-soup-and-meat-substitutes.html">a 2017 report from Global Data</a>, veganism in the US rose from 1% of the US population in 2014 to 6% by 2017. That's a 600% increase, and <a href="https://foodrevolution.org/blog/vegan-statistics-global/">the trend is growing</a>.
      </div>
      <div class="step min-vh-100" data-step="2">
        <h2>Is this enough?</h2>
        <p>
          Consider this:
        </p>
        <ul>
          <li>
            <a href="https://www.theguardian.com/sustainable-business/2017/jul/10/100-fossil-fuel-companies-investors-responsible-71-global-emissions-cdp-study-climate-change">Just 100 companies are responsible for 71% of global emissions.</a>
          </li>
        </ul>
        <blockquote>
          The report found that more than half of global industrial emissions since 1988 – the year the Intergovernmental Panel on Climate Change was established – can be traced to just 25 corporate and state-owned entities.
        </blockquote>
        <ul>
          <li>
            <a href="https://www.npr.org/2021/07/01/1012138741/exxon-lobbyist-caught-on-video-talks-about-undermining-bidens-climate-push">And our politicians enable them.<a>
          </li>
        </ul>
        <blockquote>
          "Joe Manchin, I talk to his office every week," McCoy bragged to the interviewer. He called the Democratic senator from West Virginia a "kingmaker" and discussed how "on the Democrat side we look for the moderates on these issues" in their efforts to stop policies that could hurt the company's business.
        </blockquote>
        </div>
        <div class="step min-vh-100" data-step="3">
          <ul>
            <li>
              <a href="https://www.forbes.com/sites/niallmccarthy/2019/06/13/report-the-u-s-military-emits-more-co2-than-many-industrialized-nations-infographic/?sh=339bda794372">The U.S. military emits more CO2 than many industrialized nations.</a>
            </li>
          </ul>
          <blockquote>
            War and preparation for it are fossil fuel intensive activities [...] 70% of all energy gets consumed by moving and utilizing troops and equipment around the world, involving the burning of vast quantities of jet fuel and diesel [...] it is estimated that the country's remaining fleet of 60,000 humvees only gets four to eight miles per gallon of diesel [...] in FY2017, the Department of Defense spent $3.5 billion heating, cooling and providing electricity to 560,000 buildings at 500 installations.
          </blockquote>
        </div>
        <div class="step min-vh-100" data-step="skip">
          <p>
            We all need to make individual lifestyle changes, absolutely, but this will <mark>not be enough</mark>. We need <mark>systemic changes</mark>.
          </p>
        </div>        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2>Achieving systemic changes</h2>
        <p>
          Here's what we can all do to create a <mark>sustainable future</mark> for our communities and the world.
        </p>
        <ul>
          <li>
            Demand that your <mark>elected officials step up</mark>. If you're in the United States, <a href="https://whoaremyrepresentatives.org/">whoaremyrepresentatives.org</a> is a great resource to find out who to call.
          </li>
          <li>
            Donate to and volunteer with <a href="https://www.givinggreen.earth/">organizations</a> whose mission is to <mark>protect our environment</mark>, and be sure to tell your friends and family to do the same.
          </li>
          <li>
            Consider supporting <mark>advocacy groups</mark>, such as <a href="https://www.sunrisemovement.org/">Sunrise Movement</a> and <a href="https://350.org/">350.org</a>.
          </li>
        </ul>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <blockquote class="blockquote">
              <p>
                It really boils down to this: that all life is interrelated. We are all caught in an inescapable network of mutuality, tied into a single garment of destiny. Whatever affects one directly, affects all indirectly.
              </p>
              <cite>Martin Luther King Jr, <a href="https://www.youtube.com/watch?v=1jeyIAH3bUI">Christmas Sermon of 1967</a></cite>
            </blockquote>
          </div>
        </div>
      </div>      
    </div>
  </div>
