<div class="container mb-5">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-dark-emphasis mt-5 mb-4">Earth Overshoot Day</h1>
            <p>
                <a href="https://www.overshootday.org/">Earth Overshoot Day</a> is the day of the year on which we run out of Earth's resources for the given year. In 2025, this day falls on <strong>July 27</strong></a>. This interactive infographic lets you explore Overshoot Days in the past and serves as a reminder of the urgency we face.
                </p>
                <p>
                    Instead of despair, use this as a call to action.
                </p>
                <ul>
                    <li>
                        Demand that your elected officials step up. If you're in the United States, <a href="https://whoaremyrepresentatives.org/">whoaremyrepresentatives.org</a> is a great resource to find out who to call.
                    </li>
                    <li>
                        Donate to and volunteer with <a href="https://www.givinggreen.earth/">organizations</a> whose mission is to protect our environment, and be sure to tell your friends and family to do the same.
                    </li>
                    <li>
                        Consider supporting advocacy groups, such as <a href="https://www.sunrisemovement.org/">Sunrise Movement</a> and <a href="https://350.org/">350.org</a>.
                    </li>
                    <li>
                        You can always do your part; use public transportation when possible, reduce your meat consumption, but remember that <a href="https://www.cnn.com/2023/08/17/business/rich-americans-climate-footprint-emissions/index.html">America's richest 10% are responsible for 40% of its planet-heating pollution</a> and that <a href="https://www.theguardian.com/sustainable-business/2017/jul/10/100-fossil-fuel-companies-investors-responsible-71-global-emissions-cdp-study-climate-change">just 100 companies are responsible for 71% of global emissions</a> and our focus needs to be on them and the <a href="https://www.npr.org/2021/07/01/1012138741/exxon-lobbyist-caught-on-video-talks-about-undermining-bidens-climate-push">politicians that enable them<a>.
                    </li>
                </ul>
                <p>
                    Source: <a href="https://www.kaggle.com/fourtonfish/earth-overshoot-day-dates">Earth Overshoot Day: Detailed list of dates</a>.
                </p>
                <p>
                    <a href="https://www.informationisbeautifulawards.com/showcase/4797-earth-overshoot-day">
                        <img width="170" height="170" src="/images/logos/iib-awards/2022/2022-iib-awards-badge-longlist-small.png">
                    </a>
                </p>
            </div>
        </div>
        <div class="mt-5 break-out">  
            <div class="row">
                <div class="col-sm-12 col-md-12 sticky-top bg-white p-0 sticky-top" data-keep-sticky>
                    <div class="sticky-top bg-light-subtle p-3">
                        <div class="container">
                            <canvas id="chart" aria-label="Earth Overshoot Day" role="img" ></canvas>
                            <p id="description" class="mb-1 pt-4 fs-6 d-inline d-md-none text-white">Continue scrolling to explore the data.</p>
                            {{!-- <p id="description" class="mb-1 pt-4 fs-6">Continue scrolling to explore the data.</p> --}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 mt-5">
                    <div class="container mb-5">
                        <div class="row">
                            <div id="data-descriptions" class="col-sm-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
