<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-sm-12">
      <h1 class="mt-5">Makeover Monday 2021: Week 27</h1>
      <p class="lead">What would be the results of the <a href="https://en.wikipedia.org/wiki/2020_United_States_presidential_election">2020 United States presidential election</a> if only certain demographics voted?</p>
    </div>
  </div>
  <div class="row mt-2 mb-2">
    <div class="col-sm-12 col-md-6 mt-5">
      <img alt="Biden for president 2020" title="Illustration of 2020 US presidential candidate Joe Biden" src="2021w27/images/biden.jpg" class="candidate-img w-100 js-tilt">
      <ul class="legend">
        <li>
          <span class="legend-color legend-color-biden"></span>
          <span class="legend-value">Joe Biden</span>
        </li>
      </ul>  
    </div>
    <div class="col-sm-12 col-md-6 mt-5">
      <img alt="Trump keep America great 2020" title="Illustration of 2020 US presidential candidate Donald Trump" src="2021w27/images/trump.jpg" class="candidate-img w-100 js-tilt">
      <ul class="legend">
        <li>
          <span class="legend-color legend-color-trump"></span>
          <span class="legend-value">Donald Trump</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-2 mb-2">
    <div class="col-sm-12">
      <p>
        The 2020 United States presidential election occurred during <strong>several major events </strong> happening around the world and here in the United States, including the COVID-19 pandemic and civil unrests in response to police murders.
      </p>
      <p>
        More than <strong>158 million voters</strong> participated in what would be an election with the <strong>highest voter turnout</strong> since 1900, and Biden, the winner of the election, received more than 81 million votes, the most votes ever in a U.S. presidential election up to that point.
      </p>
      <p>
        Because of the <a href="https://en.wikipedia.org/wiki/United_States_Electoral_College">Electoral Collage</a>-based system, this was an uncomfortably close contest, but with Trump out of the office, let's now imagine what the results would've been if only some of the demographics voted.
      </p>
    </div>
  </div>
  <div class="row mt-2 mb-2" data-demographic="income">
    <div class="col-sm-12">
      <h2 class="mb-3">Annual income</h2>
      <p>
        In 2019, the median annual income in the United States was <strong>$35,977</strong> (<a href="https://en.wikipedia.org/wiki/Personal_income_in_the_United_States">source</a>), and looking at the result, we can see that Trump was popular with voters whose income is above this threshold.
      </p>
      <p>
        This might be a somewhat surprising result, as one might assume that a higher salary correlates with higher education levels and living in urban areas, which do indicate a higher tendency to vote for democratic candidates, but do keep in mind that people who make a lot of money love their tax breaks, which republicans and moderate democrats are happy to provide.      
      </p>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="$100,000+">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">$100,000+</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="$75,000 - $99,999">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">$75,000 - $99,999</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="$50,000 - $74,999">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">$50,000 - $74,999</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="$25,000 - $49,999">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">$25,000 - $49,999</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="Under $25,000">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">Under $25,000</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
  </div>

  <div class="row mt-4 mb-4" data-demographic="">
    <div class="col-sm-12">
      <h2 class="mb-3">Highest education level</h2>
      <p>
        Education is a pretty good indicator of voting patterns, not much more to add here.</a>.
      </p>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="Post Grad">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">Postgraduate</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="College Grad">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">College graduates</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="Some College">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">Some college</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="HS or Less">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">High school or less</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
  </div>
  
  <div class="row mt-4 mb-4" data-demographic="age">
    <div class="col-sm-12">
      <h2 class="mb-3">Age of voters</h2>
      <p>
        By far the strongest indicators of how a person would vote are their age and where they live (see below). This is somewhat correlated with education (<a href="https://en.wikipedia.org/wiki/Educational_attainment_in_the_United_States">Educational attainment in the United States</a>) and income, but generally speaking younger people are not only more educated than past generations, they tend to be less ignorant and more informed on social issues.
      </p>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="18-29">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">18-29</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="30-44">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">30-44</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="45-64">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">45-64</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="65">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">65+</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
  </div>
  
  <div class="row mt-4 mb-4" data-demographic="">
    <div class="col-sm-12">
      <h2 class="mb-3">Geographics</h2>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="Urban">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">Urban</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="Suburban">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">Suburban</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="Small Town">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">Small town</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="Rural">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">Rural</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
  </div>
  
  <div class="row mt-4 mb-4" data-demographic="">
    <div class="col-sm-12">
      <h2 class="mb-3">Religion and politics</h2>
      <p>Age also ties with religion (<a href="https://www.pewforum.org/religious-landscape-study/age-distribution/">pewforum.org</a>), so it's not surprising to see that religion follows the same pattern.
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="Catholic">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">Catholic</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="Protestant">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">Protestant</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="Moderate">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">Moderate</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
  </div>
          
  <div class="row mt-4 mb-4" data-demographic="">
    <div class="col-sm-12">
      <h2 class="mb-3">Gender and race</h2>
      <p>No comment on this one.</p>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="Men">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">Men</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="Women">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">Women</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="White">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">White people</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
  </div>
          
  <div class="row mt-4 mb-4" data-demographic="">
    <div class="col-sm-12">
      <h2 class="mb-3">Marital status</h2>
      <p>Unfortunately there isn't enough data to draw any conclusions here.</p>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="Married">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">Married</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="Single">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">Single</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
  </div>
          
  <div class="row mt-4 mb-4" data-demographic="">
    <div class="col-sm-12">
      <h2 class="mb-3">Voting patterns</h2>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="Did not vote in 2016">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">Did not vote in 2016</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="Early Voting">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">Early voters</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-5" data-demographic-group="Election Day">
      <div class="p-3 p-5 mb-4 bg-light">
        <h3 class="mb-5">Voted on the day of the election</h3>
        <img class="us-map" src="2021w27/images/us-map.svg">
        <p class="result mt-5 mb-0"></p>
      </div>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-sm-12">
      <h2 class="mt-5">Sources</h2>
      <ul>
        <li>
          Makeover Monday 2021/W27: If Only ____ Voted
          (<a href="https://data.world/makeovermonday/2021w27">data.world</a>)
        </li>
        <li>
          Image credit:
          <ul>
            <li>
              <a href="https://www.123rf.com/profile_patrimonio">©patrimonio/123RF.COM</a>
            </li>
            <li>
              <a href='https://www.123rf.com/profile_laure123'>laure123</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 text-center">
      <img alt="Vote!" title="Illustrated 'vote' sticker" src="2021w27/images/vote.jpg" >
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/libs/papaparse.min.js"></script>
<script src="/libs/tilt.jquery.min.js"></script>
