<div class="container mb-5 m-0 p-0">
  <div id="map" class="vh-100" style="width: 98.9vw !important"></div>
  <div class="row">
    <div
      id="description"
      class="position-absolute bottom-0 bg-light-semi p-3 col-12 col-lg-6"
    >
      <h1>Antarctica</h1>
      <p>
        Antarctica is the Earth's fifth-largest, southernmost, coldest, driest,
        and windiest continent. Antarctica's population consists mostly of the
        staff of research stations, some of which you can see on
        this map.
      </p>
      <p>
        <a href="https://en.wikipedia.org/wiki/Antarctica">Learn more on
          Wikipedia.</a>
        |
        <a href="http://botsin.space/@southpoleviews">Follow @southpoleviews.</a>
      </p>
    </div>
  </div>
</div>
<script src="/libs/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>